body{
    background-image: url("/images/bg2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
}

img{
    width: 30px;
    margin-right: 10px;
}

.container{
    width: 100%;
}

.gambar{
    margin-left: 84mm;
    width: 100mm;
    margin-top: -70mm;
    border-radius: 17px;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card{
    box-shadow: -18px 12px 16px 7px rgba(0, 0, 0, 0.2), 18px 12px 16px 7px rgba(0, 0, 0, 0.19);
}